/*Configuraçao Geral*/
body {
    background: linear-gradient(120deg, #ffcc00, #ff6600);
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: #fff
}

/*Configuraçao do Cabeçalho*/
header {
    background: linear-gradient(90deg, #ff0066, #ff3300);
    padding: 20px;
    font-size: 20px;
}

h1 {
    margin: 0;
    font-size: 28px;
}

section {
    padding: 20px;
    background: #fff;
    color: #333;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

img {
    width: 100%;
    border-radius: 10px;
    max-width: 600px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #ff0066;
}

#modalidade {
    margin-top: 20px;
}

footer {
    background: #333;
    padding: 10px;
    color: white;
    margin-top: 20px;
}

footer a {
    color: #ffcc00;
    text-decoration: none;
}

button {
    background: #ff0066;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

button:hover {
    background: #ff3300;
    transform: scale(1.1);
}